#mash-gradient-bg {
  opacity: 1;
  width: 100vw;
  height: 100vh;
  --gradient-color-1: #84bd00;
  --gradient-color-2: #d4c304;
  --gradient-color-3: #3e4827;
  --gradient-color-4: #dbde70;
  z-index:-1;
  position: absolute;
}