#mash-gradient-bg {
  opacity: 1;
  width: 100vw;
  height: 100vh;
  --gradient-color-1: #1fae83;
  --gradient-color-2: #155c96;
  --gradient-color-3: #148f6c;
  --gradient-color-4: #a0ce78;
  z-index:-1;
  position: absolute;
}